.controltower-filters {
    > ul {
        padding-left: 0;
    }
    > ul > li {
        display: inline-block;
        margin-right: 10px;
        width: calc(14.28% - 14px);
        min-width: 140px;
        padding-top: 7px;
    }
    label.title {
        line-height: 26px;
        font-weight: 400;
        margin-top: 0;
        color: #717171;
        margin-bottom: 1px;
        font-size: 12px;
        text-transform: capitalize;
        -webkit-font-smoothing: auto;
        display: block;
    }
    .select2-container {
        display: block;
    }
} 

.select2-search input {
    font-size: 12px;
}

#filters-section {
    float: left;
}