<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
<title>HTTP Status 403 - Access is denied</title>
</head>
<body>
	<h4>Message : You don't have Access to this Page.</h4> <br />
	To get Access following steps are to be executed: <br />
	<ol>
		<li>Visit https://access.snapdeal.com/user/home </li>
		<li>Click Get Access on left navigation bar.</li>
		<li>Select shipfar-admin from Application drop down.</li>
		<li>Check ADMIN checkbox.</li>
		<li>Once access is granted, try again.</li>
	</ol>
</body>
</html>